# Lang family
langchain
langgraph
langchain-google-vertexai
langchain-community
langchain-google-community[speech]
langchain-google-genai
langchain_pinecone
langfuse==2.60.8

# Vector DB
pinecone

# NLP
pythainlp

# GCP
google-cloud-speech
google-cloud-storage

# Audio
pydub
ffmpeg

# Others
py-topping
tiktoken
pandas
